.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
}

#passwordField, #usernameField {
    border: 0;
    outline: 0;
    border-radius: 0;
    width: 35vw;
    min-width: 250px;
    padding: 5px;
    font-size: 24px;
    background: transparent;
    border-bottom: white 1px solid;
}

#passwordField:focus, #usernameField:focus {
    border-color: rgb(202, 255, 132);
}

.label {
    color: rgb(202, 255, 132);
    margin-bottom: 5%;
}

.errorMessage {
    display: flex;
    flex-wrap: nowrap;
    max-width: 80vw;
    font-size: 14px;
    color: crimson;
}

@keyframes submitButtonAnimation {
    0% {color: white;}
    25% {color:rgb(202, 255, 132); transform: translateX(10px);}
    75% {color:rgb(202, 255, 132); transform: translateX(0px);}
    100% {color: white;}
}

@keyframes onSubmitAnimation {
    0% {color: white;}
    20% {color:rgb(202, 255, 132); transform: translateX(50px);}
    40% {color:rgba(202, 255, 132, 0.75); transform: translateX(100px);}
    60% {color:rgba(202, 255, 132, 0.5); transform: translateX(150px);}
    80% {color:rgba(202, 255, 132, 0.25); transform: translateX(200px);}
    90% {visibility: hidden; color: #1a1a1a;}
    100% {visibility: hidden; color: #1a1a1a;}
}

.submitButton {
    animation-name: submitButtonAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    user-select: none;
}
.submitButton:active {
    animation-name: onSubmitAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}