.App {
  background-color: #000000;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: white;
  animation: backgroundAnimation 5s ease-in-out infinite;
}

@keyframes backgroundAnimation {
  0% {}
  10% {}
  30% {}
  100% {}
}

a {
  text-decoration: none;
  color: #61dafb;
}
